* {
  padding: 0px;
  margin: 0px;
}
body {
  background-image: url("https://i.ibb.co/Fb3MSpT/banner-1050602.jpg");
  position: relative;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}
h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(18, 5, 95);
  text-align: center;
  text-shadow: cornflowerblue;
  padding: 1rem;
}

.myHeader {
  background-color: tomato;
  color: white;
  border: 2px solid black;
  text-align: center;
}

#timeButton {
  background-color: DodgerBlue;
  color: #fff;
  margin-top: 2%;
  margin-left: 1%;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 5px;
  font-size: 16px;
}

input[type="text"] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type="submit"] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
  margin-top: 2%;
  margin-left: 1%;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

#dropdownSubmit {
  background-color: DodgerBlue;
  color: #fff;
  margin-top: 2%;
  margin-left: 1%;
}
